# Игнорируем файлы операций с животными
AnimalsOperations_2.py
AnimalsOperations_3.py

# Игнорируем файлы CRUD
CRUD.py
CRUD_PROCEDURES.py

# Игнорируем директории миграции
migration/
migration_for_animals/
migration_for_performances/
migration_for_performance/
.idea/
triggers/__pycahce__/